<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    /* Custom CSS to adjust card size */
    .card {
      max-width: 25rem;
    }
  </style>
</head>
<body style="background-color: #d5d5d5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-4 ps-2">
    <div class="container">
      <a class="navbar-brand" href="/">StatementCrafters</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features">Features</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="d-flex justify-content-center"> <!-- Centered container -->
          <div class="card">
            <img src="\static\psstament.webp" class="card-img-top" alt="Personal Statement">
            <div class="card-body">
              <h5 class="card-title">Personal Statement</h5>
              <p class="card-text">Craft a compelling personal statement that showcases your unique journey and aspirations.</p>
              <a href="psstatement" class="btn btn-primary">Craft Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="d-flex justify-content-center"> <!-- Centered container -->
          <div class="card">
            <img src="\static\recomletter.jpg" class="card-img-top" alt="Recommendation Letter">
            <div class="card-body">
              <h5 class="card-title">Recommendation Letter</h5>
              <p class="card-text">Request a well-crafted recommendation letter that highlights your qualities and achievements.</p>
              <a href="recomletter" class="btn btn-primary">Craft Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="d-flex justify-content-center"> <!-- Centered container -->
          <div class="card">
            <img src="\static\teachingstat.jpg" class="card-img-top" alt="Teaching Statement">
            <div class="card-body">
              <h5 class="card-title">Teaching Statement</h5>
              <p class="card-text">Create a compelling teaching statement that reflects your philosophy and approach to education.</p>
              <a href="teachingstatement" class="btn btn-primary">Craft Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="d-flex justify-content-center"> <!-- Centered container -->
          <div class="card">
            <img src="\static\researchstat.jpeg" class="card-img-top" alt="Research Statement">
            <div class="card-body">
              <h5 class="card-title">Research Statement</h5>
              <p class="card-text">Craft a research statement that showcases your research goals, achievements, and vision.</p>
              <a href="researchstatement" class="btn btn-primary">Craft Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
